Course,Status,Title,Author,Edition,ISBN,Year,URL
AFCP,Recommended,Thieme Test Prep for the USMLE: Clinical Anatomy Q &amp; A,Hankin,,978-1626234215,2019,http://vendor.com/book/123
AFCP,Required,Atlas of Clinical Gross Anatomy,Moses,2nd,978-0323077798,2013,
APM12|HUM,Required,Bates&apos; Guide to Physical Examination and History Taking,Bickley,12th,978-14698x93419,2017,http://vendor.com/book/234
BFCP,Recommended,Essential Cell Biology,Alberts,5th,978-0393680393,2019,http://vendor.com/book/2235
BFCP,Required,Robbins and Cotran Pathologic Basis of Diseases Student Edition,Kumar,10th,978-0323531139,2021,
APM345,Recommended,Robbins and Cotran Pathologic Basis of Diseases Student Edition,Kumar,10th,978-0323531139,2021,
CARDIO,Required,Pathophysiology of Heart Disease: A Collaborative  Project of Medical Students and Faculty,Lilly,6th,978-1451192759,2016,
